<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Create Account</h1>
        <div class="class="">
          <form action="/create-account" method="POST">
            <div class="form-group">
              <label for="username">Name</label>
              <input class="form-control" name="userName" id="username" type="text" value="<%= currentUser.userName %>">
            </div>
            <div class="form-group">
              <label for="pass">Password</label>
              <input class="form-control" name="password" id="pass" type="hidden" value="<%= currentUser.password %>">
            </div>
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input class="form-control" name="firstName" id="firstname" type="text" value="<%= currentUser.firstName %>">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
