<div class="">
  <h1>Chat Party</h1>
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/members/<%= currentUser.userName %>">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Chat Rooms</a>
    </li>
  </ul>
</div>
