<div class="container-fluid">
  <h1>Chat Party</h1>
  <ul class="nav nav-pills justify-content-end">
    <% if (currentUser) { %>
      <li class="nav-item">
        <a class="btn btn-info btn-sm " role="button" href="/members/<%= currentUser.userName %>">My Profile</a>
      </li>
      <li class="nav-item">
        <form action="/log-in?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-dark btn-sm" role="button">Log Out</button>
        </form>
      </li>
    <% } else { %>
      <li class="nav-item">
        <a class="btn btn-success btn-sm " role="button" href="/create-account %>">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-sm " role="button" href="/log-in %>">Log in</a>
    <% } %>
  </ul>
</div>
