<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <nav>
        <% include ./partials/nav.ejs %>
      </nav>
    </header>

    <main>
      <div class="container">
        <div id=jumbo-home class="jumbotron bg-white">
          <h2 class="display-4">Group Chat Made Simple</h2>
          <p class="lead">Easily create group chat rooms to begin your Chat Party. Chat! Chat! Chat!</p>
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/group_chat.jpg" class="d-block w-100 img-fluid rounded" alt="Responsive image">
              </div>
              <div class="carousel-item">
                <img src="/img/home_page_1.jpg" class="d-block w-100 img-fluid rounded" alt="Responsive image">
              </div>
              <div class="carousel-item">
                <img src="/img/people.jpg" class="d-block w-100 img-fluid rounded" alt="Responsive image">
              </div>
            </div>
          </div>
          <hr class="my-4">
          <p>Create A Free Account And Begin Your Chat Party!</p>
          <a class="btn btn-success btn-lg" href="/create-account" role="button">Create Free Account</a>
        </div>
      </div>
    </main>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
