<!doctype html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <style>
      .logout {display: none;}
    </style>
  </head>
  <body>
    <header>
      <% include ../partials/nav.ejs %>
    </header>
    <script>
      //Passing variables from backend to front end
      const room = `<%= roomName %>`
      const userName = `<%= currentUser.userName %>`
      const pic = `<%= currentUser.img %>`
      //Receiving message back from Server
      socket.on('connect', function() {
       // Connected, let's sign-up for to receive messages for this room
       socket.emit('room', room, userName, pic);
     })
    </script>
    <div class="container">
      <h1>Chat Room: <%= roomName %></h1>
      <div class="bg-white rounded chat-window">
        <ul id="messages"></ul>
      </div>
      <form id="chat" action="">
        <input class="rounded" id="m" autocomplete="off" required/><button class="rounded">Send</button>
      </form></br>
      <a class="btn btn-outline-dark" href="/party-rooms/" role="button">Back To Party Rooms</a>
    </div>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
